/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 5px;
  
  }
  
  article {
    font-size: 1.5em;
  }
  
  h1 {
  font-size: 30px;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
      padding-bottom: 25px;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width:768px){

    body{
      margin: 10px;
      background-color: blueviolet;
    }
    
    article{
      font-size: 1.2em;
    }
    
    figure{
      width: 45%;
      margin-right: 4.5%;
          }
  }