.super-mario {
  position: absolute;
  z-index: 1;
  width: 200px;
}

.goomba {
  position: absolute;
  z-index: 2;
  left: 60px;
  top: 400px;
  width: 100px;
}

.baloon {
  position: absolute;
  z-index: 3;
  left: 250px;
  top: 250px;

}

p{
  position: absolute;
  z-index: 3;
  top: 500px;
}
.speach {
  position: absolute;
  z-index: 4;
  left: 280px;
  top: 280px;
  font-size: 25px;
}

.bowser {
  position: absolute;
  z-index: 4;
  top: 400px;
  left: 500px;
  width: 200px;
}